.navbar {
  width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.body {
  position: absolute;
  margin-top: 10%;
  left: 15%;
  right: 15%;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
}

.periodicTable {
  display: grid;
  min-width: 1835px;
  margin-left: auto;
}

.row {
  min-width: 1835px;
  max-width: 1835px;
  padding: 0px;
  overflow-x: hidden;
  margin: 0;
}

.h4 {
  color: black;
}

.element {
  height: 65px;
  width: 65px;
}

.hidden-element {
  display: block;
  visibility: hidden;
}

.hidden-container {
  display: block;
  visibility: hidden;
  height: 65px;
  width: 65px;
}
